body {
    margin: 0;
    background: url("fon.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: black;
    font-family: Impact;
}

.templates {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #0a1a83;
    text-decoration: none;
}
a:hover {
    color: #c2e1ff;
}



header {
    border-radius: 30px 30px 0px 0px;
    box-shadow: 2px 4px 20px #201c1c;
    background-color: #9DE0D7;
    height: 100px;
    padding: 20px 150px;
    margin: auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 100px;
    height: 70px;
    margin-right: 25px;
    border-radius: 50%;
}

.header-name {
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}



.topnav {
    background-color: #91B3FB;
    padding: 0;
    margin: auto;
    border-radius: 0px 0px 30px 30px;

}

.nav-list {
    margin: 0;
    padding: 0 145px;
    list-style: none;
}

.nav-item {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
}

.nav-link {
    font-size: 17px;
    color: #f2f2f2;
}




.container {
    max-width: 960px;
    padding: 0 5px;
    margin: 0 auto;
}




.table {
    width: 80%;
    margin: auto auto 20px;
    order: 1;
    border-radius: 10px 10px;
}

table {
    color: black;
    border: 1px solid #030e54;
    width: 500px;
}

td, th {
    border: 1px solid #03184d;
    text-align: center;
    border-radius: 10px 10px;
}

table tr:nth-child(2n) {
    background-color: #FDFDFD;
}

table tr:nth-child(2n+1) {
    background-color: #91B3FB;
}




.bottom {
    padding-right: 30px;
    float: right;
    color: #502223;
    font-size: 20px;
    font-weight: 300;
}

footer {
    border-radius: 30px 30px 0px 0px;
    background-color: #ACD7E7;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 90px;
    padding: 20px;
}

@media (min-width: 568px) {
    .nav-list {
        flex-direction: row;
    }

    table {
        order: 0;
    }
}
